.usa-breadcrumb{
	padding-bottom: .5rem;
	padding-top: .5rem;
	display: inline-grid;

	.usa-breadcrumb__list{
		white-space: normal !important;

		.usa-breadcrumb__list-item{
			white-space: normal;
		}
	}
}