#block-uswds-nia-local-tasks{
   
   .usa-button{
      margin:5px;
   }
}
#block-uswds-nia-local-actions{
   
   .usa-button--secondary{
      margin: 5px;
   }
}
.usa-button{
   &.disabled{
      -moz-osx-font-smoothing: grayscale;
       -webkit-font-smoothing: antialiased;
       background-color: #c9c9c9;
       color: #fff;
       cursor: default;
   }
} 