header{
	&.usa-header{
		.usa-nav-container{
			background: url('../img/custom/coding_portal_bg.png') no-repeat center;
			height:95px;
			align-items: initial;
			background-clip: content-box;

			.usa-navbar{
				height: 95px;
				width: auto;
			    position: absolute;
			    max-width: 60rem;

			    .usa-logo{
			    	margin-left: 0.5rem;

			    	.usa-logo__text{
			    		font-size: 1.15rem;
			    	}
			    }
			}
			.usa-nav{
				align-items: initial;

				.usa-nav__primary{

					.usa-nav__primary-item{

						.usa-nav__link{
							padding: 0.3rem 0.5rem;
						}
					}
				}
			}
		}
	}

}