main{

	&.main-content{
		padding-top: 0;
		border-top:none !important;
		display:flex; 
		flex-direction:column; 
		min-height:100vh;
		padding-bottom:0;

		.grid-container{
			background-color: #ffffff;
			background-clip: content-box;
			flex: 1;

			.grid-row{
				padding: 1rem;
			}
			
		}
	}
}