table{
   
   .icon-link{
      text-decoration: none;

      .usa-icon{
         height: 1.2em;
         width: 1.2em;

      }
   }
}

.usa-table-container--scrollable{
   clear: right;
   display: grid;

   td{
      white-space: initial;

      .opertations-container{
         display: inline-flex;
      }

   }
}
.dataset-overview-container{
   form{
      float: right;
      margin-bottom: 2rem;

      .form-actions{
         float:right;
      }
   }
   header{
      display:none;
   }
} 
